@font-face {
  font-family:"Capture it";
  src: url("../../fonts/Capture_it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.big-header {
  background-image: url('../../images/home.jpg');
  background-size: cover;

  .name {
    font-family: 'Capture it';
    font-size: 120px;
  }
  .button {
    letter-spacing: 2;
    color: black;
    text-decoration: none;
    background: rgba(252, 252, 252, 0.5);
    padding: 15px;
    border-radius: 55px;
    display: inline-block;
    border: none;
    cursor: pointer;
  }
}


 