@font-face {
  font-family:"Capture it";
  src: url("../../fonts/Capture_it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.big-header {
  background-image: url('../../images/Home.jpg');
  background-size: cover;

  .button {
    letter-spacing: 2;
    text-align: center; 
    vertical-align: middle; 
    color: black;
    background: rgba(252, 252, 252, 0.5);
    width: 300px; 
    height: 40px; 
    border-radius: 55px;
    display: inline-block;
    border: none;
    cursor: pointer;
    z-index: 3;
    border: 10px solid rgba(0, 0, 0, 0.1);
  }
}


 